* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: $off-white;
  color: $off-black;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 950px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: $spacing 0 ($spacing * 0.5) 0;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  margin-top: $paragraph-spacing;
}

/* Layout things */
$sidebar-width: 125px;

.sidebar {
  border-right: 3px solid $off-black;
  padding-right: $spacing;
  float: left;
  text-align: right;
  width: $sidebar-width;
}

.main-content {
  margin-left: $sidebar-width;
  margin-top: $spacing * 2;
  padding: 0 $spacing;
}

/* Branding */
.branding {

}

/* Copyright */
p.copyright {
  margin: $spacing 0;
}