* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: $off-white;
  color: $off-black;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 950px;
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: $spacing 0 ($spacing * 0.5) 0;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  margin-top: $paragraph-spacing;
}

/* Layout things */
$sidebar-width: 125px;

.sidebar {
  border-right: 3px solid $off-black;
  padding-right: $spacing;
  float: left;
  text-align: right;
  width: $sidebar-width;
}

.main-content {
  margin: ($spacing * 2) 0 0 $sidebar-width;
  padding: 0 $spacing;
}

/* Branding */
.branding {
  margin-bottom: ($spacing * 1.1);
}

/* Navigation */
.main-nav li {
  margin: ($spacing / 4) 0;
}

/* Copyright */
p.copyright {
  margin: $spacing 0;
}

/* Small screens (Mobile) */
@include media-query(425px) {
  .branding {
    font-size: 1.7em;
    margin-bottom: ($spacing / 2);
  }

  .copyright { display: none; }

  .sidebar { 
    float: none; 
    width: 90%;
  }

  .main-content {
    h1, h2, h3, h4, h5, h6 {
      margin-top: ($spacing / 2);
    };
    margin: ($spacing / 2) 0 0 0;
    padding-bottom: $spacing;
  }
}

@include media-query(675px) {
  .branding {
    margin-top: ($spacing / 2);
  }
  .main-content {
    margin-top: $spacing;
    padding-bottom: $spacing;
  }
}