body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  color: $text-color;
  background: $background-color;
}

.sidebar {
  float: left;
  width: 200px;
}

.main-content {
  margin-left: 200px;
}